body{
    background-image: linear-gradient(rgba(255, 29, 108, 0.491), rgb(132, 255, 37));
    font-size: 39px;
}
#score{
    font-size: 25px;
    margin-left: 30px;
}
#timer{
    font-size: 25px;
    float:right;
    margin-right: 40px;
}
#future_sketch{
    color:blue
}